.px2-form-input-list{
	margin-top: 1em;
	margin-bottom: 1em;

	ul.px2-form-input-list__ul{
		display: table;
		border-collapse: collapse;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #999999;
		margin: 0;
		padding: 0;

		li.px2-form-input-list__li{
			display: table-row;
			list-style-type: none;
			margin: 0;
			padding: 0;

			.px2-form-input-list__label{
				display: table-cell;
                vertical-align: top;
				background-color: #e7e7e7;
				font-weight: bold;
				padding: 0.4em 1em;
				width: 30%;
				border: 1px solid #999999;
			}
			.px2-form-input-list__input{
				display: table-cell;
                vertical-align: top;
                background-color: var(--px2-background-color);
				padding: 0.4em 1em;
				width: 70%;
				border: 1px solid #999999;
			}
			p, .px2-p {
				margin-top: 0.2em;
				margin-bottom: 0.2em;
			}

            &--required {
                .px2-form-input-list__label{
                    &::after {
                        content: "*";
                        color: #e11;
                        font-weight: bold;
                        margin: 0 0 0 0.7em;
                    }
                }
                .px2-form-input-list__input{
                }
            }
            &--error {
                .px2-form-input-list__label{
                    color: #721c24;
                    &::before {
                        content: "!!!";
                        color: #e11;
                        margin: 0 0.7em 0 0;
                    }
                }
                .px2-form-input-list__input{
                }
            }
		}
	}

	@media all and (max-width: 544px){
		ul.px2-form-input-list__ul{
			display: block;
			border-bottom: 0 none;

			li.px2-form-input-list__li{
				display: block;

				.px2-form-input-list__label{
					display: block;
					border-left: 0 none;
					border-top: 0 none;
					border-right: 0 none;
					padding: 0.4em 1em;
					width: auto;
				}
				.px2-form-input-list__input{
					display: block;
					border-left: 0 none;
					border-top: 0 none;
					border-right: 0 none;
					padding: 0.4em 1em;
					width: auto;
				}
			}
		}
	}
}
